@*-----------------------------------------------------------------------
    <copyright file="ProjectRunningBalance.cshtml" company="Tahoe Regional Planning Agency and Sitka Technology Group">
    Copyright (c) Tahoe Regional Planning Agency and Sitka Technology Group. All rights reserved.
    <author>Sitka Technology Group</author>
    </copyright>

    <license>
    This program is free software: you can redistribute it and/or modify
    it under the terms of the GNU Affero General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    This program is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU Affero General Public License <http://www.gnu.org/licenses/> for more details.

    Source code is available upon request via <support@sitkatech.com>.
    </license>
    -----------------------------------------------------------------------*@
@using System.ServiceModel.Channels
@using ProjectFirmaModels.Models
@using LtInfo.Common
@using LtInfo.Common.Views
@using ProjectFirma.Web.Common
@using ProjectFirma.Web.Models
@inherits ProjectFirma.Web.Views.Shared.ProjectRunningBalance.ProjectRunningBalance


    <div class="table-responsive tableFixHeader" style="max-height: 450px;">
        <table class="table table-condensed table-bordered">
            <tr>
                <th>Date</th>
                <th>Total Projected Budget</th>
                <th>Obligation Item Budget - Obligations</th>
                <th>Obligation Item Invoice - Debit</th>
                <th>Balance: Projection minus Obligations</th>
                <th>Balance: Obligation minus Debit</th>
            </tr>
            @foreach (var prbRecord in ViewDataTyped.ProjectRunningBalanceRecords)
            {
            <tr>
                <td>@prbRecord.Date.ToShortDateString()</td>
                <td>@prbRecord.TotalProjectedBudget.ToStringCurrency()</td>
                <td>@prbRecord.ObligationItemBudgetObligation.ToStringCurrency()</td>
                <td>@prbRecord.ObligationItemInvoiceDebit.ToStringCurrency()</td>
                <td>@prbRecord.ProjectionMinusObligation.ToStringCurrency()</td>
                <td>@prbRecord.ObligationMinusDebit.ToStringCurrency()</td>
            </tr>
            }
            @*<tr>
                <th style="text-align:left">Grand Total</th>
                @foreach (var calendarYear in ViewDataTyped.CalendarYearStrings.OrderBy(x => x.CalendarYear))
                {
                    <th class="text-right">@ViewDataTyped.FundingSourceExpenditures.SelectMany(x => x.CalendarYearExpenditure).Where(x => x.Key == calendarYear.CalendarYear).Sum(x => x.Value).ToStringCurrency()</th>
                }
                <th class="text-right">@ViewDataTyped.FundingSourceExpenditures.SelectMany(x => x.CalendarYearExpenditure).Sum(x => x.Value).ToStringCurrency()</th>
            </tr>*@
        </table>
    </div>







