@*-----------------------------------------------------------------------
    <copyright file="ProjectRunningBalance.cshtml" company="Tahoe Regional Planning Agency and Sitka Technology Group">
    Copyright (c) Tahoe Regional Planning Agency and Sitka Technology Group. All rights reserved.
    <author>Sitka Technology Group</author>
    </copyright>

    <license>
    This program is free software: you can redistribute it and/or modify
    it under the terms of the GNU Affero General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    This program is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU Affero General Public License <http://www.gnu.org/licenses/> for more details.

    Source code is available upon request via <support@sitkatech.com>.
    </license>
    -----------------------------------------------------------------------*@
@using System.ServiceModel.Channels
@using ProjectFirmaModels.Models
@using LtInfo.Common
@using LtInfo.Common.Views
@using ProjectFirma.Web.Common
@using ProjectFirma.Web.Models
@inherits ProjectFirma.Web.Views.Shared.ProjectRunningBalance.ProjectRunningBalance


    <div class="table-responsive tableFixHeader" style="max-height: 450px;">
        <table class="table table-condensed table-bordered">
            <thead>
                <tr>
                    <th scope="col">Date</th>
                    <th scope="col">Total Projected Budget</th>
                    <th scope="col">Obligation Item Budget - Obligations</th>
                    <th scope="col">Obligation Item Invoice - Debit</th>
                    <th scope="col">Balance: Projection minus Obligations</th>
                    <th scope="col">Balance: Obligation minus Debit</th>
                </tr>
            </thead>
            @{
                double projectedBudgetRunningBalance = 0;
                double projectionMinusObligationRunningBalance = 0;
                double obligationMinusDebitRunningBalance = 0;
            }
            <tbody>
                @foreach (var prbRecord in ViewDataTyped.ProjectRunningBalanceRecords)
                {
                    //ProjectedBudget
                    projectedBudgetRunningBalance += prbRecord.ProjectedBudget;
                    // ProjectedBudget minus Obligation
                    projectionMinusObligationRunningBalance += prbRecord.ProjectedBudget;
                    projectionMinusObligationRunningBalance -= prbRecord.ObligationItemBudgetObligation;
                    // Obligation minus Debt
                    obligationMinusDebitRunningBalance += prbRecord.ObligationItemBudgetObligation;
                    obligationMinusDebitRunningBalance -= prbRecord.ObligationItemInvoiceDebit;

                    <tr>
                        <td>@prbRecord.Date.ToShortDateString()</td>
                        <td>@projectedBudgetRunningBalance.ToStringCurrency()</td>
                        <td>@prbRecord.ObligationItemBudgetObligation.ToStringCurrency()</td>
                        <td>@prbRecord.ObligationItemInvoiceDebit.ToStringCurrency()</td>
                        <td>@projectionMinusObligationRunningBalance.ToStringCurrency() </td>
                        <td>@obligationMinusDebitRunningBalance.ToStringCurrency()</td>
                    </tr>
                }
            </tbody>
            <tfoot>
                <tr>
                    <th scope="row">Totals:</th>
                    <th scope="col">@projectedBudgetRunningBalance.ToStringCurrency()</th>
                    <th scope="col">@ViewDataTyped.ProjectRunningBalanceRecords.Select(prbr => prbr.ObligationItemBudgetObligation).Sum().ToStringCurrency()</th>
                    <th scope="col">@ViewDataTyped.ProjectRunningBalanceRecords.Select(prbr => prbr.ObligationItemInvoiceDebit).Sum().ToStringCurrency()</th>
                    <th scope="col">@projectionMinusObligationRunningBalance.ToStringCurrency() </th>
                    <th scope="col">@obligationMinusDebitRunningBalance.ToStringCurrency()</th>
                </tr>
            </tfoot>
        </table>
    </div>







