@*-----------------------------------------------------------------------
    <copyright file="Detail.cshtml" company="Tahoe Regional Planning Agency and Sitka Technology Group">
    Copyright (c) Tahoe Regional Planning Agency and Sitka Technology Group. All rights reserved.
    <author>Sitka Technology Group</author>
    </copyright>

    <license>
    This program is free software: you can redistribute it and/or modify
    it under the terms of the GNU Affero General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    This program is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU Affero General Public License <http://www.gnu.org/licenses/> for more details.

    Source code is available upon request via <support@sitkatech.com>.
    </license>
    -----------------------------------------------------------------------*@
@using LtInfo.Common
@using ProjectFirmaModels.Models
@using ProjectFirma.Web.Views
@using ProjectFirma.Web.Views.Shared
@using LtInfo.Common.BootstrapWrappers
@using LtInfo.Common.DhtmlWrappers
@using ProjectFirma.Web.Common
@using ProjectFirma.Web.Models
@inherits ProjectFirma.Web.Views.Obligation.ObligationDetail

@functions 
{
    private HtmlString MakeReclamationAgreementLink(Agreement agreement)
    {
        if (agreement == null)
        {
            return null;
        }

        return UrlTemplate.MakeHrefString(agreement.GetDetailUrl(), agreement.GetDisplayName());
    }

}

@section JavascriptAndStylesContent
{
    @{ DhtmlxGridIncludes.RenderPartialView(Html); }

    @*<script type="text/javascript" src="@Url.Content("~/Views/PerformanceMeasure/EditSubcategoriesAndOptionsController.js")"></script>*@

    <style>
        th {
            white-space: nowrap;
        }

        .chartHeader, a.chartHeader {
            font-weight: normal;
        }

        .nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {
            background-color: #0b406b;
            color: #fff;
        }

        .nav > li.disabled > a, .nav-tabs > li.disabled > a:hover, .nav-tabs > li.disabled > a:focus {
            background-color: #ccc;
        }

        .panel-heading h1, .panel-heading h2, .panel-heading h3, .panel-heading h4 {
            margin: 0;
        }

        .panel-primary .panel-heading h4 {
            color: #fff;
            font-weight: bold;
        }

        .rightOfPageTitle {
            margin: 0;
        }
    </style>
}

<div>
    <a class="btn backButton" href="@ViewDataTyped.ObligationIndexUrl">
        @BootstrapHtmlHelpers.MakeGlyphIcon("glyphicon-chevron-left")
        Back to all @MultiTenantHelpers.GetObligationNamePluralized()
    </a>
</div>

<div class="row">
    <div class="col-lg-6 col-md-5">
        <div class="panel panelFirma">
            <div class="panel-heading panelTitle">
                <h2>
                    @*No edit for Obligation to start with.*@
                    @*@ModalDialogFormHelper.MakeEditIconLink(ViewDataTyped.EditPerformanceMeasureUrl, string.Format("Edit {0}: {1}", MultiTenantHelpers.GetPerformanceMeasureName(), ViewDataTyped.PerformanceMeasure.PerformanceMeasureDisplayName), 1000, ViewDataTyped.UserHasPerformanceMeasureOverviewManagePermissions)*@
                    Basics
                </h2>
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-xs-5 fieldLabel text-right">Obligation Number Key</div>
                    <div class="col-xs-7">@ViewDataTyped.ObligationNumber.ObligationNumberKey</div>
                </div>
                <div class="row">
                    @*<div class="col-xs-5 fieldLabel text-right">@Html.LabelWithSugarFor(ViewDataTyped.FieldDefinitionForPerformanceMeasure)</div>*@
                    <div class="col-xs-5 fieldLabel text-right">Agreement Number</div>
                    <div class="col-xs-7">@MakeReclamationAgreementLink(ViewDataTyped.ObligationNumber.ReclamationAgreement)</div>
                </div>
            </div>
        </div>
    </div>
</div>

@* Projects (V2) *@
@*<div class="panel panelFirma">
    <div class="panel-heading panelTitle">
        <h2>
            <a href="@ViewDataTyped.FullProjectListUrl">@FieldDefinitionEnum.Project.ToType().GetFieldDefinitionLabelPluralized()</a>
        </h2>
    </div>
    <div class="panel-body">
        @Html.DhtmlxGrid(ViewDataTyped.BasicProjectInfoGridSpec, ViewDataTyped.BasicProjectInfoProjectGridName, ViewDataTyped.BasicProjectInfoProjectGridDataUrl, "height:300px", DhtmlxGridResizeType.VerticalResizableHorizontalAutoFit)
    </div>
</div>*@

@* Cost Authorities *@
@*<div class="panel panelFirma">
    <div class="panel-heading panelTitle">
        <h2>
            <a href="@ViewDataTyped.CostAuthorityIndexUrl">@FieldDefinitionEnum.CostAuthorityWorkBreakdownStructure.ToType().GetFieldDefinitionLabelPluralized()</a>
        </h2>
    </div>
    <div class="panel-body">
        @Html.DhtmlxGrid(ViewDataTyped.BasicCostAuthorityGridSpec, ViewDataTyped.BasicCostAuthorityGridName, ViewDataTyped.BasicCostAuthorityGridDataUrl, "height:300px", DhtmlxGridResizeType.VerticalResizableHorizontalAutoFit)
    </div>
</div>*@


@*<div class="panel panelFirma">
        <div class="panel-heading panelTitle">
            <h2>Reported @ViewDataTyped.FieldDefinitionForPerformanceMeasure.GetFieldDefinitionLabel() Results per @ViewDataTyped.FieldDefinitionForProject.GetFieldDefinitionLabel()</h2>
        </div>
        <div class="panel-body">
            @Html.DhtmlxGrid(ViewDataTyped.PerformanceMeasureReportedValuesGridSpec, ViewDataTyped.PerformanceMeasureReportedValuesGridName, ViewDataTyped.PerformanceMeasureReportedValuesGridDataUrl, "height:300px", DhtmlxGridResizeType.VerticalResizableHorizontalAutoFit)
        </div>
    </div>*@

@*
        @if (ViewDataTyped.IsAdmin)
    {
        <div class="panel panelFirma">
            <div class="panel-heading panelTitle">
                <h2>Change History and Rationale Notes (only visible to Administrators)</h2>
            </div>
            <div class="panel-body">
                @{ EntityNotes.RenderPartialView(Html, ViewDataTyped.EntityNotesViewData); }
            </div>
        </div>
    }
*@
