@*-----------------------------------------------------------------------
    <copyright file="Detail.cshtml" company="Tahoe Regional Planning Agency and Sitka Technology Group">
    Copyright (c) Tahoe Regional Planning Agency and Sitka Technology Group. All rights reserved.
    <author>Sitka Technology Group</author>
    </copyright>

    <license>
    This program is free software: you can redistribute it and/or modify
    it under the terms of the GNU Affero General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    This program is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU Affero General Public License <http://www.gnu.org/licenses/> for more details.

    Source code is available upon request via <support@sitkatech.com>.
    </license>
    -----------------------------------------------------------------------*@
@using LtInfo.Common
@using ProjectFirmaModels.Models
@using ProjectFirma.Web.Views.Shared
@using LtInfo.Common.BootstrapWrappers
@using LtInfo.Common.DhtmlWrappers
@using LtInfo.Common.ModalDialog
@using ProjectFirma.Web.Common
@using ProjectFirma.Web.Models
@using ProjectFirma.Web.Views
@using ProjectFirma.Web.Views.AgreementRequest
@using ProjectFirma.Web.Views.Shared.TextControls
@inherits ProjectFirma.Web.Views.AgreementRequest.AgreementRequestDetail

@functions
{
    private string GetOrganizationDisplayName()
    {
        // Tried to do this inline with chained ? operators, but told "C# 6.0 language feature". No time to investigate. -- SLG 9/10/2019
        if (ViewDataTyped.ReclamationAgreementRequest.RecipientOrganization == null)
        {
            return string.Empty;
        }
        return ViewDataTyped.ReclamationAgreementRequest.RecipientOrganization.GetDisplayName();
    }

    private string GetTechnicalRepresentativeDisplayName()
    {
        // Tried to do this inline with chained ? operators, but told "C# 6.0 language feature". No time to investigate. -- SLG 9/10/2019
        if (ViewDataTyped.ReclamationAgreementRequest.TechnicalRepresentativePerson == null)
        {
            return string.Empty;
        }
        return ViewDataTyped.ReclamationAgreementRequest.TechnicalRepresentativePerson.GetFullNameFirstLast();
    }

}

@section JavascriptAndStylesContent
{
    @{ DhtmlxGridIncludes.RenderPartialView(Html); }

    @*<script type="text/javascript" src="@Url.Content("~/Views/PerformanceMeasure/EditSubcategoriesAndOptionsController.js")"></script>*@

    <style>
        th {
            white-space: nowrap;
        }

        .chartHeader, a.chartHeader {
            font-weight: normal;
        }

        .nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {
            background-color: #0b406b;
            color: #fff;
        }

        .nav > li.disabled > a, .nav-tabs > li.disabled > a:hover, .nav-tabs > li.disabled > a:focus {
            background-color: #ccc;
        }

        .panel-heading h1, .panel-heading h2, .panel-heading h3, .panel-heading h4 {
            margin: 0;
        }

        .panel-primary .panel-heading h4 {
            color: #fff;
            font-weight: bold;
        }

        .rightOfPageTitle {
            margin: 0;
        }
    </style>
}

<div>
    <a class="btn backButton" href="@ViewDataTyped.IndexUrl">
        @BootstrapHtmlHelpers.MakeGlyphIcon("glyphicon-chevron-left")
        Back to all @MultiTenantHelpers.GetAgreementRequestNamePluralized()
    </a>
</div>

<div class="row">
    <div class="col-lg-6 col-md-5">
        <div class="panel panelFirma">
            <div class="panel-heading panelTitle">
                <h2>
                    Basics
                </h2>
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-xs-5 fieldLabel text-right">@Html.LabelWithSugarFor(FieldDefinitionEnum.IsModification.ToType())</div>
                    <div class="col-xs-7">@ViewDataTyped.ReclamationAgreementRequest.IsModification.ToYesNo()</div>
                </div>

                <div class="row">
                    <div class="col-xs-5 fieldLabel text-right">@Html.LabelWithSugarFor(FieldDefinitionEnum.Agreement.ToType())</div>
                    <div class="col-xs-7">
                        @(ViewDataTyped.ReclamationAgreementRequest.Agreement != null ? UrlTemplate.MakeHrefString(ViewDataTyped.ReclamationAgreementRequest.Agreement.GetDetailUrl(), ViewDataTyped.ReclamationAgreementRequest.Agreement.GetDisplayName()) : new HtmlString(string.Empty))
                    </div>
                </div>

                <div class="row">
                    <div class="col-xs-5 fieldLabel text-right">@Html.LabelWithSugarFor(FieldDefinitionEnum.ContractType.ToType())</div>
                    <div class="col-xs-7">@ViewDataTyped.ReclamationAgreementRequest.ContractType.ContractTypeDisplayName</div>
                </div>

                <div class="row">
                    <div class="col-xs-5 fieldLabel text-right">@Html.LabelWithSugarFor(FieldDefinitionEnum.RequestStatus.ToType())</div>
                    <div class="col-xs-7">@ViewDataTyped.ReclamationAgreementRequest.AgreementRequestStatus.AgreementRequestStatusDisplayName</div>
                </div>

                <div class="row">
                    <div class="col-xs-5 fieldLabel text-right">@Html.LabelWithSugarFor(FieldDefinitionEnum.DescriptionOfNeed.ToType())</div>
                    <div class="col-xs-7">@ViewDataTyped.ReclamationAgreementRequest.DescriptionOfNeed</div>
                </div>

                <div class="row">
                    <div class="col-xs-5 fieldLabel text-right">@Html.LabelWithSugarFor(FieldDefinitionEnum.FundingPriority.ToType())</div>
                    <div class="col-xs-7">@(ViewDataTyped.ReclamationAgreementRequest.ReclamationAgreementRequestFundingPriority != null ? ViewDataTyped.ReclamationAgreementRequest.ReclamationAgreementRequestFundingPriority.AgreementRequestFundingPriorityDisplayName : string.Empty)</div>
                </div>

                <div class="row">
                    <div class="col-xs-5 fieldLabel text-right">@Html.LabelWithSugarFor(FieldDefinitionEnum.RecipientOrganization.ToType())</div>
                    <div class="col-xs-7">@GetOrganizationDisplayName()</div>
                </div>

                <div class="row">
                    <div class="col-xs-5 fieldLabel text-right">@Html.LabelWithSugarFor(FieldDefinitionEnum.TechnicalRepresentative.ToType())</div>
                    <div class="col-xs-7">@GetTechnicalRepresentativeDisplayName()</div>
                </div>

                <div class="row">
                    <div class="col-xs-5 fieldLabel text-right">@Html.LabelWithSugarFor(FieldDefinitionEnum.TargetSubmittalDate.ToType())</div>
                    <div class="col-xs-7">@ViewDataTyped.ReclamationAgreementRequest.TargetSubmittalDate.ToStringDate()</div>
                </div>

                <div class="row">
                    <div class="col-xs-5 fieldLabel text-right">@Html.LabelWithSugarFor(FieldDefinitionEnum.PALT.ToType())</div>
                    <div class="col-xs-7">@ViewDataTyped.ReclamationAgreementRequest.PALT</div>
                </div>

                <div class="row">
                    <div class="col-xs-5 fieldLabel text-right">@Html.LabelWithSugarFor(FieldDefinitionEnum.TargetAwardDate.ToType())</div>
                    <div class="col-xs-7">@ViewDataTyped.ReclamationAgreementRequest.TargetAwardDate.ToStringDate()</div>
                </div>

            </div>
        </div>
    </div>
</div>
<div class="panel panelFirma">
    <div class="panel-heading panelTitle">
        <h2 class="project-detail-heading">
            PROJECT OBLIGATIONS
        </h2>
    </div>
    <div class="rightFloatingInfo" style="margin-right: 20px;">
        @ViewDataTyped.ReclamationAgreementRequest.EditCostAuthorityAgreementRequestsButton()
    </div>
    <br/>
    <br/>
    <br/>
    <div class="panel-body">
        @Html.DhtmlxGrid(ViewDataTyped.CostAuthorityAgreementRequestGridSpec, ViewDataTyped.CostAuthorityAgreementRequestGridName, ViewDataTyped.CostAuthorityAgreementRequestGridDataUrl, "height:300px", DhtmlxGridResizeType.VerticalResizableHorizontalAutoFit)
    </div>
</div>

<div class="row">
    <div class="col-lg-12">
        <div class="panel panelFirma">
            <div class="panel-heading panelTitle">
                @ModalDialogFormHelper.MakeEditIconLink(ViewDataTyped.EditRequisitionInformationUrl, string.Format("Edit {0}", FieldDefinitionEnum.RequisitionInformation.ToType().GetFieldDefinitionLabel()), ViewDataTyped.UserCanEditRequisitionInformation)
                <h2 class="project-detail-heading">
                    Requisition Information
                </h2>
            </div>
            <div class="panel-body">
                
                <div class="row">

                    <div class="col-md-6">
                        <div class="row">
                            <div class="col-xs-6 fieldLabel text-right">@Html.LabelWithSugarFor(FieldDefinitionEnum.RequisitionNumber.ToType())</div>
                            <div class="col-xs-6">@ViewDataTyped.ReclamationAgreementRequest.RequisitionNumber</div>
                        </div>

                        <div class="row">
                            <div class="col-xs-6 fieldLabel text-right">@Html.LabelWithSugarFor(FieldDefinitionEnum.RequisitionDate.ToType())</div>
                            <div class="col-xs-6">@ViewDataTyped.ReclamationAgreementRequest.RequisitionDate.ToStringDate()</div>
                        </div>

                        <div class="row">
                            <div class="col-xs-6 fieldLabel text-right">@Html.LabelWithSugarFor(FieldDefinitionEnum.ContractSpecialist.ToType())</div>
                            <div class="col-xs-6">@ViewDataTyped.ReclamationAgreementRequest.ContractSpecialist</div>
                        </div>

                        <div class="row">
                            <div class="col-xs-6 fieldLabel text-right">@Html.LabelWithSugarFor(FieldDefinitionEnum.AssignedDate.ToType())</div>
                            <div class="col-xs-6">@ViewDataTyped.ReclamationAgreementRequest.AssignedDate.ToStringDate()</div>
                        </div>

                        <div class="row">
                            <div class="col-xs-6 fieldLabel text-right">@Html.LabelWithSugarFor(FieldDefinitionEnum.DateSentForDeptReview.ToType())</div>
                            <div class="col-xs-6">@ViewDataTyped.ReclamationAgreementRequest.DateSentForDeptReview.ToStringDate()</div>
                        </div>

                        <div class="row">
                            <div class="col-xs-6 fieldLabel text-right">@Html.LabelWithSugarFor(FieldDefinitionEnum.DCApprovalDate.ToType())</div>
                            <div class="col-xs-6">@ViewDataTyped.ReclamationAgreementRequest.DCApprovalDate.ToStringDate()</div>
                        </div>

                        <div class="row">
                            <div class="col-xs-6 fieldLabel text-right">@Html.LabelWithSugarFor(FieldDefinitionEnum.ActualAwardDate.ToType())</div>
                            <div class="col-xs-6">@ViewDataTyped.ReclamationAgreementRequest.ActualAwardDate.ToStringDate()</div>
                        </div>
                    </div>

                    <div class="col-md-6">
                        <div class="row">
                            <div class="col-xs-6 fieldLabel text-right">@Html.LabelWithSugarFor(FieldDefinitionEnum.RequisitionAge.ToType())</div>
                            <div class="col-xs-6">@ViewDataTyped.ReclamationAgreementRequest.GetRequisitionAge()</div>
                        </div>
                        <div class="row">
                            <div class="col-xs-6 fieldLabel text-right">@Html.LabelWithSugarFor(FieldDefinitionEnum.RequisitionDeptReviewDays.ToType())</div>
                            <div class="col-xs-6">@ViewDataTyped.ReclamationAgreementRequest.GetRequisitionDeptReviewDays()</div>
                        </div>
                        <div class="row">
                            <div class="col-xs-6 fieldLabel text-right">@Html.LabelWithSugarFor(FieldDefinitionEnum.RequisitionDaysToAssign.ToType())</div>
                            <div class="col-xs-6">@ViewDataTyped.ReclamationAgreementRequest.GetRequisitionDaysToAssign()</div>
                        </div>
                        <div class="row">
                            <div class="col-xs-6 fieldLabel text-right">@Html.LabelWithSugarFor(FieldDefinitionEnum.RequisitionDaysToAward.ToType())</div>
                            <div class="col-xs-6">@ViewDataTyped.ReclamationAgreementRequest.GetRequisitionDaysToAward()</div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
@if (ViewDataTyped.UserCanInteractWithSubmissionNotes)
{
    <div class="panel panelFirma">
        <div class="panel-heading panelTitle">
            <h3>@FieldDefinitionEnum.AgreementRequestSubmissionNote.ToType().GetFieldDefinitionLabelPluralized()</h3>
        </div>
        <div class="panel-body">
            @{EntityNotes.RenderPartialView(Html, ViewDataTyped.AgreementRequestNotesViewData);}
        </div>
    </div>
}