@*-----------------------------------------------------------------------
    <copyright file="CostAuthorityEdit.cshtml" company="Tahoe Regional Planning Agency and Environmental Science Associates">
    Copyright (c) Tahoe Regional Planning Agency and Environmental Science Associates. All rights reserved.
    <author>Environmental Science Associates</author>
    </copyright>

    <license>
    This program is free software: you can redistribute it and/or modify
    it under the terms of the GNU Affero General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    This program is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU Affero General Public License <http://www.gnu.org/licenses/> for more details.

    Source code is available upon request via <support@sitkatech.com>.
    </license>
    -----------------------------------------------------------------------*@
@using ProjectFirmaModels.Models
@using ProjectFirma.Web.Common
@using ProjectFirma.Web.Models
@inherits ProjectFirma.Web.Views.CostAuthority.CostAuthorityEdit

<style>
    .radio-inline {
        padding-top: 0 !important;
    }
</style>

@using (Html.BeginForm())
{
    <div class="form-horizontal">
        <div class="form-group">
            <div class="col-sm-3 control-label">
                @Html.LabelWithSugarFor(m => m.CostAuthorityWorkBreakdownStructure)
            </div>
            <div class="col-sm-9">
                @Html.TextBoxFor(m => m.CostAuthorityWorkBreakdownStructure, new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.CostAuthorityWorkBreakdownStructure)
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-3 control-label">
                @Html.LabelWithSugarFor(m => m.CostAuthorityNumber)
            </div>
            <div class="col-sm-9">
                @Html.TextBoxFor(m => m.CostAuthorityNumber, new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.CostAuthorityNumber)
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-3 control-label">
                @Html.LabelWithSugarFor(m => m.AccountStructureDescription)
            </div>
            <div class="col-sm-9">
                @Html.TextBoxFor(m => m.AccountStructureDescription, new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.AccountStructureDescription)
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-3 control-label">
                @Html.LabelWithSugarFor(m => m.JobNumber)
            </div>
            <div class="col-sm-9">
                @Html.TextBoxFor(m => m.JobNumber, new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.JobNumber)
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-3 control-label">
                @Html.LabelWithSugarFor(m => m.Authority)
            </div>
            <div class="col-sm-9">
                @Html.TextBoxFor(m => m.Authority, new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.Authority)
            </div>
        </div>


    </div>
    @Html.HiddenFor(m => m.CostAuthorityID)
}
