@*-----------------------------------------------------------------------
    <copyright file="Edit.cshtml" company="Tahoe Regional Planning Agency and Sitka Technology Group">
    Copyright (c) Tahoe Regional Planning Agency and Sitka Technology Group. All rights reserved.
    <author>Sitka Technology Group</author>
    </copyright>

    <license>
    This program is free software: you can redistribute it and/or modify
    it under the terms of the GNU Affero General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    This program is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU Affero General Public License <http://www.gnu.org/licenses/> for more details.

    Source code is available upon request via <support@sitkatech.com>.
    </license>
    -----------------------------------------------------------------------*@
@using ProjectFirma.Web.Common
@using ProjectFirma.Web.Views.Shared
@using System.Web.Mvc.Html
@using LtInfo.Common.HtmlHelperExtensions
@inherits ProjectFirma.Web.Views.Subproject.Edit

<style>
    .delete-action-item-button .btn-firma .glyphicon {
        color: white;
    }

    .delete-action-item-button .btn-firma {
        margin-left: 15px;
    }
</style>



@using (Html.BeginForm())
{
    
<div class="form-horizontal">
    @Html.HiddenFor(m => m.ProjectID)
    @* todo: Assigned to person *@


    <div class="form-group">
        <div class="col-sm-3 control-label">
            @Html.LabelWithSugarFor(m => m.ImplementationStartYear)
        </div>
        <div class="col-sm-9">
            @Html.EditorFor(m => m.ImplementationStartYear, new { style = "width:100%", @class = "form-control" })
            @Html.ValidationMessageFor(m => m.ImplementationStartYear)
        </div>
    </div>
    <div class="form-group">
        <div class="col-sm-3 control-label">
            @Html.LabelWithSugarFor(m => m.CompletionYear)
        </div>
        <div class="col-sm-9">
            @Html.EditorFor(m => m.CompletionYear, new { style = "width:100%", @class = "form-control" })
            @Html.ValidationMessageFor(m => m.CompletionYear)
        </div>
    </div>
    <div class="form-group">
        <div class="col-sm-3 control-label">
            @Html.LabelWithSugarFor(m => m.Notes)           
        </div>
        <div class="col-sm-9">
            @Html.TextAreaFor(m => m.Notes, new { style = "width:100%", @class = "form-control" })
            @Html.ValidationMessageFor(m => m.Notes)
        </div>
    </div>
    @if (ViewDataTyped.ProjectStageSelectListItems.Any())
    {
        <div class="form-group">
            <div class="col-sm-3 control-label">
                @Html.LabelWithSugarFor(m => m.ProjectStageID)
            </div>
            <div class="col-sm-9">
                @Html.DropDownListFor(m => m.ProjectStageID, ViewDataTyped.ProjectStageSelectListItems)
                @Html.ValidationMessageFor(m => m.ProjectStageID)
            </div>
        </div>
    }
</div>
}
