@*-----------------------------------------------------------------------
    <copyright file="Edit.cshtml" company="Tahoe Regional Planning Agency and Sitka Technology Group">
    Copyright (c) Tahoe Regional Planning Agency and Sitka Technology Group. All rights reserved.
    <author>Sitka Technology Group</author>
    </copyright>

    <license>
    This program is free software: you can redistribute it and/or modify
    it under the terms of the GNU Affero General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    This program is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU Affero General Public License <http://www.gnu.org/licenses/> for more details.

    Source code is available upon request via <support@sitkatech.com>.
    </license>
    -----------------------------------------------------------------------*@
@using ProjectFirma.Web.Common
@using ProjectFirma.Web.Views.Shared
@using System.Web.Mvc.Html
@using LtInfo.Common.HtmlHelperExtensions
@inherits ProjectFirma.Web.Views.ActionItem.Edit

<style>
    .delete-action-item-button .btn-firma .glyphicon {
        color: white;
    }

    .delete-action-item-button .btn-firma {
        margin-left: 15px;
    }
</style>

<div class="row">
    <div class="col-md-12">
        @{ ViewPageContent.RenderPartialView(Html, ViewDataTyped.PageContentViewData); }
    </div>
</div>

@using (Html.BeginForm())
{
    
<div class="form-horizontal">
    @Html.HiddenFor(m => m.ProjectID)
    @* todo: Assigned to person *@
    <div class="form-group">
        <div class="col-sm-3 control-label">
            @Html.LabelWithSugarFor(m => m.AssignedToPersonID)
        </div>
        <div class="col-sm-9">
            @Html.SearchableDropDownListFor(m => m.AssignedToPersonID, ViewDataTyped.PeopleSelectListItems)
            @Html.ValidationMessageFor(m => m.AssignedToPersonID)
        </div>
    </div>
    <div class="form-group">
        <div class="col-sm-3 control-label">
            @Html.LabelWithSugarFor(m => m.ActionItemStateEnum)
        </div>
        <div class="col-sm-9">
            @Html.EnumDropDownListFor(m => m.ActionItemStateEnum, new { style = "width:100%", @class = "form-control" })
            @Html.ValidationMessageFor(m => m.ActionItemStateEnum)
        </div>
    </div>
    <div class="form-group">
        <div class="col-sm-3 control-label">
            @Html.LabelWithSugarFor(m => m.AssignedOnDate)
        </div>
        <div class="col-sm-9">
            @Html.EditorFor(m => m.AssignedOnDate, new { style = "width:100%", @class = "form-control" })
            @Html.ValidationMessageFor(m => m.AssignedOnDate)
        </div>
    </div>
    <div class="form-group">
        <div class="col-sm-3 control-label">
            @Html.LabelWithSugarFor(m => m.DueByDate)
        </div>
        <div class="col-sm-9">
            @Html.EditorFor(m => m.DueByDate, new { style = "width:100%", @class = "form-control" })
            @Html.ValidationMessageFor(m => m.DueByDate)
        </div>
    </div>
    <div class="form-group">
        <div class="col-sm-3 control-label">
            @Html.LabelWithSugarFor(m => m.CompletedOnDate)
        </div>
        <div class="col-sm-9">
            @Html.EditorFor(m => m.CompletedOnDate, new { style = "width:100%", @class = "form-control" })
            @Html.ValidationMessageFor(m => m.CompletedOnDate)
        </div>
    </div>
    <div class="form-group">
        <div class="col-sm-3 control-label">
            @Html.LabelWithSugarFor(m => m.ActionItemText)
        </div>
        <div class="col-sm-9">
            @Html.TextAreaFor(m => m.ActionItemText, new { style = "width:100%", @class = "form-control" })
            @Html.ValidationMessageFor(m => m.ActionItemText)
        </div>
    </div>
    @if (ViewDataTyped.ProjectProjectStatusSelectListItems.Any())
    {
        <div class="form-group">
            <div class="col-sm-3 control-label">
                @Html.LabelWithSugarFor(m => m.ProjectProjectStatusID)
            </div>
            <div class="col-sm-9">
                @Html.SearchableDropDownListFor(m => m.ProjectProjectStatusID, ViewDataTyped.ProjectProjectStatusSelectListItems)
                @Html.ValidationMessageFor(m => m.ProjectProjectStatusID)
            </div>
        </div>
    }
</div>
}

<div class="row delete-action-item-button">
    <div class="col-md-12">
        @ViewDataTyped.DeleteButton
    </div>
</div>