@*-----------------------------------------------------------------------
    <copyright file="Edit.cshtml" company="Tahoe Regional Planning Agency and Environmental Science Associates">
    Copyright (c) Tahoe Regional Planning Agency and Environmental Science Associates. All rights reserved.
    <author>Environmental Science Associates</author>
    </copyright>

    <license>
    This program is free software: you can redistribute it and/or modify
    it under the terms of the GNU Affero General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    This program is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU Affero General Public License <http://www.gnu.org/licenses/> for more details.

    Source code is available upon request via <support@sitkatech.com>.
    </license>
    -----------------------------------------------------------------------*@
@using LtInfo.Common.AgGridWrappers
@using ProjectFirma.Web.Models
@using ProjectFirma.Web.Views
@using ProjectFirma.Web.Views.Shared
@using ProjectFirmaModels.Models
@inherits ProjectFirma.Web.Views.ActionItem.Index
@section JavascriptAndStylesContent
{
    @{ AgGridIncludes.RenderPartialView(Html); }
}

<div class="row">
    <div class="col-md-12">
        @{ ViewPageContent.RenderPartialView(Html, ViewDataTyped.ViewPageContentViewData); }
    </div>
</div>

<div style="margin-top: 10px">
    @Html.AgGrid(ViewDataTyped.GridSpec, ViewDataTyped.GridName, ViewDataTyped.GridDataUrl, null, AgGridResizeType.VerticalFillHorizontalAutoFit)
</div>


<h2>Manage @FieldDefinitionEnum.SubprojectActionItem.ToType().GetFieldDefinitionLabelPluralized()</h2>
<div style="margin-top: 10px">
    @Html.AgGrid(ViewDataTyped.SubprojectActionItemGridSpec, ViewDataTyped.SubprojectActionItemGridName, ViewDataTyped.SubprojectActionItemGridDataUrl, null, AgGridResizeType.VerticalFillHorizontalAutoFit)
</div>


<script type="text/javascript">


    jQuery(document).ready(function()
    {

        var sitkaGridContainer = Sitka.@ViewDataTyped.GridName;
        var dhtmlxGrid = sitkaGridContainer.grid;

        dhtmlxGrid.attachEvent("onXLE", function () {

            jQuery(dhtmlxGrid.getFilterElement(6)).selectpicker("val", "@ViewDataTyped.ActionItemStateToBeSelectedOnLoad");
            dhtmlxGrid.filterByAll();
        });

        var subprojectActionItemSitkaGridContainer = Sitka.@ViewDataTyped.SubprojectActionItemGridName;
        var subprojectActionItemAgGrid = subprojectActionItemSitkaGridContainer.grid;

        subprojectActionItemAgGrid.attachEvent("onXLE", function () {

            jQuery(subprojectActionItemAgGrid.getFilterElement(6)).selectpicker("val", "@ViewDataTyped.ActionItemStateToBeSelectedOnLoad");
            subprojectActionItemAgGrid.filterByAll();
        });

    });


</script>